* {
    margin: 0;
    padding: 0;
}

.topBar {
    height: 80px;
    background: #0F172A;
    display: flex;
    align-items: center;
    padding: 20px 30px;
}

.topBar img {
    height: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 5px;
}

.topBar h2 {
    margin-right: auto;
    color: #ffffff;
}

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #ffffff;
}

.blog {
    display: flex;
    gap: 20px;
    padding: 3% 20%;
    background: #0F172A;
    color: #ffffff;
}

.blogInfo {
    display: flex;
    width: 60%;
    flex-direction: column;
}

.blogInfo h1 {
    margin-bottom: 10px;
}

.blogInfo p {
    margin-bottom: 10px;
}

.blogDetails {
    display: flex;
}

.blogDetails h4 {
    margin-right: 20px;
    margin-bottom: 10px;
}

.readTime {
    display: flex;
    gap: 5px;
}

.btn {
    padding: 3px 5px;
    width: 100px;
    color: #0F172A;
    font-weight: bold;
}

.blogImage img {
    height: 180px;
    width: 300px;
    border-radius: 10px;
}

.footer {
    background: black;
    color: #ffffff;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.author {
    padding-bottom: 1.25rem;
}

.nav {
    display: flex;
    gap: 10px;
}

.nav>a {
    color: #ffffff;
}